name: Daily Follow Upstream
on:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge upstream
        run: |
          git config --global user.name 'yimiaoxiehou'
          git remote add upstream https://github.com/mindoc-org/mindoc.git
          git fetch upstream
          git checkout master
          git merge --no-edit upstream/master
          git push origin master
