
name: Daily Release
on: [workflow_dispatch]

jobs:
  date:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    outputs:
      Date: ${{ steps.date.outputs.date }}
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_release
        uses: nickatnight/releases-action@v3
        with:
          branch: "master"
          name: "Daily Release"
          message: "Daily Release if upstream have updated."
          tag: ${{  needs.date.outputs.Date }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      ReleaseTag: ${{ steps.create_release.outputs.release_tag }}
      
